body {
    background-color: #C2CAD0;
    color: black;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}

/*links not including Nav Bar links*/
a:link{color:#2346C8;}
    a:visited { color:#A81CA5;}
    a:hover{ color: #7C7EEF;}
    a:focus{ color: #7C7EEF;}
    a:active{ color: #FF1A1A;}

.Box {
    /*Home Page Box*/
    width: 75%;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.Box2 {
    /*Used for: Fun Stuff & Projects*/
    width: 40%;
    height: 50%;
    position: fixed;
    top: 15%;
    left: 3%;
    transform: translate(-3%, -10%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.ShadowBox2 {
    /*Used for: Fun Stuff & Projects*/
    width: 40%;
    height: 50%;
    position: fixed;
    top: 20%;
    left: 5%;
    transform: translate(-2%, -5%);
    background-color: #7E685A;
}

.Box3 {
    /*Used for: Fun Stuff & Projects*/
    width: 40%;
    height: 50%;
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -10%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.Box4 {
    /*Used for: Fun Stuff & Projects*/
    width: 40%;
    height: 50%;
    position: fixed;
    top: 65%;
    left: 3%;
    transform: translate(-3%, -10%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.NavBar {
    /*Nav Bar for home page*/
    float: Top;
    font-size: 125%;
    width: 100%;
    height: fit-content;
    color: black;
    background: #AFD275;
    box-shadow: black;

}

.NavBar2 {
    /*Nav Bar for every page except home page*/
    float: Top;
    text-align: center;
    font-size: 200%;
    width: 100%;
    height: fit-content;
    color: black;
    background: #AFD275;
    box-shadow: black;
    
}

/*Resume Styling*/
hr {
    width: 20%;
    height: 10%;
    margin-left: auto;
    margin-top: auto;
    background-color: #E7717D;
}
