body {
    background-color: #C2CAD0;
    color: black;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}

.Box {
    width: 75%;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.Box2 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 15%;
    left: 3%;
    transform: translate(-3%, -10%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}

.ShadowBox2 {
    width: 41%;
    height: 51%;
    position: fixed;
    top: 17%;
    left: 3%;
    transform: translate(-3%, -10%);
    background-color: #7E685A;
}

.Box3 {
    width: 40%;
    height: 50%;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate( 0%, 0%);
    background-color: #E7717D;
    color: black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 175%;
}



.parentContainer {
    width: 50%;
    background-color: transparent;
}

a:link{color:#2346C8;}
    a:visited { color:#A81CA5;}
    a:hover{ color: #7C7EEF;}
    a:focus{ color: #7C7EEF;}
    a:active{ color: #FF1A1A;}



.NavBar {
    float: Top;
    font-size: 125%;
    width: 100%;
    height: fit-content;
    color: black;
    background: #AFD275;
    box-shadow: black;

}

.NavBar2 {
    float: Top;
    text-align: center;
    font-size: 200%;
    width: 100%;
    height: fit-content;
    color: black;
    background: #AFD275;
    box-shadow: black;
    
}
